.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.leftSection {
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

.logo:hover {
  text-decoration: none;
  color: #FEC3A6;
  text-shadow: 0 0 5px rgba(254, 195, 166, 0.5);
}

.rightSection {
  display: flex;
  align-items: center;
}

.rightSection a {
  margin-right: 2.5rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, text-shadow 0.3s;
}

.rightSection a:last-child {
  margin-right: 1.5rem;
}

.rightSection a:hover {
  color: #FEC3A6;
  text-shadow: 0 0 5px rgba(254, 195, 166, 0.5);
}

.userSection {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.loginButton,
.logoutButton {
  background-color: rgba(255, 255, 255, 0.2); /* 半透明白色背景 */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5); /* 添加细边框 */
  border-radius: 20px; /* 圆角 */
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px); /* 背景模糊效果 */
}

.loginButton:hover,
.logoutButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px); /* 轻微上浮效果 */
}

.logoutButton {
  padding: 0.25rem 0.75rem;
}

.activeLink {
  color: #FEC3A6 !important;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(254, 195, 166, 0.5);
}

.menuButton {
  display: none;
}

/* iPad 和小屏幕设备 */
@media (max-width: 1024px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .rightSection a {
    margin-right: 1.5rem;
  }
}

/* 手机设备 */
@media (max-width: 767px) {
  .header {
    padding: 1rem;
  }

  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .rightSection {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
  }

  .menuOpen {
    display: flex;
  }

  .rightSection a {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .userSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .userIcon {
    margin-bottom: 0.5rem;
  }

  .loginButton,
  .logoutButton {
    width: 100%;
    margin-top: 0.5rem;
  }

  .loginButton,
  .logoutButton {
    background-color: rgba(0, 0, 0, 0.1); /* 在移动端使用深色背景 */
    color: #333; /* 在移动端使用深色文字 */
    border-color: rgba(0, 0, 0, 0.2);
  }

  .loginButton:hover,
  .logoutButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
